<div class="row">
  <div class="col-md-12">
  <div class="col-md-2">
  </div>
    <div class="col-md-8" align="center">
      <h1>Contact Suro Jason Inay</h1>
      <br/>
        <div class="form-group">
        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.label :name, :required => true %>
       <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Enter name' %>
       <br/>
        <%= f.label :email, :required => true %>
        <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter Your E-mail Address' %>
        <br/>
        <%= f.label :message, :required => true %>
        <%= f.text_area :message, :as => :text, :required => true, autofocus: true, class: 'form-control', placeholder: 'Enter your Message' %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      </div>
    </div>
  <% end %>
    </div>
  </div>
</div>