<h1><%= markdown_to_html @post.title %></h1>
	
<div class="row">
	<div class="col-md-8">
		<%= render partial: 'votes/voter', locals: { post: @post } %>

		<small>
			<%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
			submitted <%= time_ago_in_words(@post.created_at) %> ago by
			<%= @post.user.name %>
		</small>
		
		<p><% if policy(@post).edit? %>
		<%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
		<% end %>

		 <% if policy(@post).destroy? %>
		<%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you wish to delete this post?' } %>
		<% end %> </p>

		<div>
     		<h3><%= pluralize(@post.points, 'point') %></h3>
     			<small>
      			<%= pluralize(@post.up_votes, 'up vote') %>,
       			<%= pluralize(@post.down_votes, 'down vote') %>
     			</small>
   		</div>

		<p><%= markdown_to_html @post.body %></p>

		<!-- Comment form !-->
		<h3> New Comment </h3>
	
		<h4> Posting Guidlines </h4>
		<ul>
			<li> Carefully check grammar and spelling.</li>
			<li> Be interesting.</li>
			<li> Post something useful for our members. </li>
			<li> Use Markdown to style your Posts. <a href="https://daringfireball.net/projects/markdown/basics">Reference guide</a></li>
		</ul>
		
		<div class="col-md-8">	
		<%= form_for [@post, Comment.new] do |f| %>
			
			<div class="form-group">		
				<%= f.label :body %>
				<%= f.text_area :body, class: 'form-control', placeholder: "Enter comment text" %>
			</div>
			<div class="form-group">			
				<%= f.submit "Save", class: 'btn btn-success' %>
			</div>
		<% end %>
		</div>
		
	</div>
		
	
	<div class="col-md-8" id="comments">
	<h4> Comments</h4>
		<%= render :partial => @post.comments %>
	</div>
</div>	



